@charset "utf-8";
$joto_main: #022136;

main{
    width: 100vw;
    height: auto;
    margin-top: 12vh;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .shoplist_outer{
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .japan_area{

            h4{
                color: $joto_main;
                font-size: 1.6vw;
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 2vw;
            }
            h4::before{
                content: "";
                width: 16px;
                height: 16px;
                background-color: $joto_main;
                position: absolute;
                left: 0;
            }
        }
        .shoplist_wrap{
            width: 100%;
            height: auto;
            display: flex;
            margin-top: 4vh;
            
            .shoplist_content{
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                h5{
                    width: 80%;
                    height: auto;
                    color: $joto_main;
                    font-size: 1.8vw;
                    display: block;
                    margin: auto;
                    text-align: center;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                h5::before,h5::after{
                    content: "";
                    width: 2vw;
                    height: 0.5px;
                    background-color: $joto_main;
                    position: absolute;
                }
                h5::before{
                    left: 0;
                }
                h5::after{
                    right: 0;
                }
                .shop_info{
                    padding: 0;
                    
                    li{
                        list-style: none;
                        font-size: 1em;
                        color: $joto_main;
                    }
                }
                .shop_web{
                    width: 80%;
                    height: 20%;
                    border: 0.5px solid $joto_main;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    overflow: hidden;
                    position: relative;

                    p{
                        color: $joto_main;
                        font-size: 1em;
                        z-index: 100;
                    }
                    .shop_hover_shape{
                        width: 100%;
                        height: 100%;
                        background-color: #022136;
                        position: absolute;
                        z-index: 200;
                        left: -100%;
                        transition: 0.5s ease-in-out;
                    }

                }
                .shop_web:hover p{
                    z-index: 300;
                    color: #ffffff;
                }
                .shop_web:hover .shop_hover_shape{
                    left: 0;
                }
                

            }
            .shoplist_content_right{
                margin-left: 10vw;
            }
        }
        
    }
}
#area_menu{
    
    .area_menu_open{
        position: fixed;
        z-index: 300;
        top: 50%;
        left: 0;
        transform: rotate(90deg);
        transition: 0.5s ease-in-out;

        .area_menu_line{
            width: 1px;
            height: 5vh;
            background-color: $joto_main;
            display: block;
            margin: 0 auto;
        }
        p{
            color: $joto_main;
            font-size: 1vw;
            margin: 0.3vw 0;
        }
    }
    .area_menu_open:hover{
        left: 2%;
        transform: rotate(90deg);
    }
    .area_menu_wrap{
        overflow: hidden;
        position: fixed;
        z-index: 400;
        width: 18vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;

        .area_menu_content{
            width: 90%;
            height: auto;

            .area{
                width: 100%;
                height: 14.2vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f8f8f8;
                border: 0.25px solid $joto_main;

                a{
                    text-decoration: none;
                    color: $joto_main;
                }
            }
        }
        .area_menu_close{
            width: 2.5vw;
            height: 100%;
            background-color: rgba($color: #022136, $alpha: 0.8);
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                color: #ffffff;
                font-size: 1.2vw;
                transform: rotate(90deg);
            }
        }
    }
}
@media screen and (max-width: 420px){
    main{
        margin-top: 0;

        .shoplist_outer{
            width: 90vw;

            .japan_area{

                h4{
                    font-size: 1.5em;
                    padding-left: 10vw;
                }
            }
            .shoplist_wrap{
                display: block;

                .shoplist_content{
                    width: 100%;
                    height:auto;
                    margin-bottom: 8vh;

                    h5{
                        font-size: 1.2em;
                    }
                    h5::before,h5::after{
                        width: 16vw;
                    }
                }
                .shoplist_content_right{
                    margin-left: 0;
                }
            }
        }
    }
    #area_menu{

        .area_menu_open{
            left: -5%;
            transform: rotate(90deg);

            .area_menu_line{
                height: 3vh;
            }
            p{
                font-size: 0.8em;
            }
        }

        .area_menu_wrap{
            width: 56vw;

            .area_menu_close{
                width: 12vw;

                p{
                    font-size: 1.3em;
                }
            }
        }


    }
}