@charset "utf-8";
$joto_main: #022136;

main{
    width: 100vw;
    height: auto;
    margin-top: 12vh;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .shoplist_outer{
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .japan_area{

            h4{
                color: $joto_main;
                font-size: 1.6vw;
            }
        }
        .shoplist_wrap{
            width: 100%;
            height: auto;
            display: flex;
            margin-top: 4vh;
            
            .shoplist_content{

                h5{
                    width: 80%;
                    height: auto;
                    color: $joto_main;
                    font-size: 1.8vw;
                    display: block;
                    margin: auto;
                    text-align: center;
                }
                h5::before,h5::after{
                    content: "";
                    width: 3vw;
                    height: 0.5px;
                    background-color: $joto_main;
                }
                .shop_info{
                    list-style: none;
                    
                }

            }
            .shoplist_content_right{
                margin-left: 10vw;
            }
        }
        
    }
}
#area_menu{
    
    .area_menu_open{
        position: fixed;
        z-index: 300;
        top: 50%;
        left: 0;
        transform: rotate(90deg);

        .area_menu_line{
            width: 1px;
            height: 5vh;
            background-color: $joto_main;
            display: block;
            margin: 0 auto;
        }
        p{
            color: $joto_main;
            font-size: 1vw;
            margin: 0.3vw 0;
        }
    }
    .area_menu_wrap{
        overflow: hidden;
        position: fixed;
        z-index: 400;
        width: 18vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;

        .area_menu_content{
            width: 90%;
            height: auto;

            .area{
                width: 100%;
                height: 14.2vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f8f8f8;
                border: 0.25px solid $joto_main;

                a{
                    text-decoration: none;
                    color: $joto_main;
                }
            }
        }
        .area_menu_close{
            width: 2.5vw;
            height: 100%;
            background-color: rgba($color: #022136, $alpha: 0.8);
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                color: #ffffff;
                font-size: 1.2vw;
                transform: rotate(90deg);
            }
        }
    }
}